@import 'variables';

.about {
  padding-top: 40px;
  text-align: center;

  h4,
  p {
    text-align: left;
  }

  h3 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  h5 {
    @include raleway-black;
    color: $gray-dark;
    font-size: 14px;
  }

  img {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  p {
    @include lato-book;
  }

  .intro-content {
    @include white-border(.6);
    border-bottom: 3px solid;
    font-size: 20px;
    padding-bottom: 25px;
  }

  @media (min-width: 768px) {
    padding-top: 60px;
  }
}
