/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/comp.jpg) no-repeat center top;
}

#foliowrap {
	background: url(../img/foliowrap.jpg) no-repeat center top;
}

#testimonial {
	background: url(../img/mint.jpg) no-repeat center top;
	margin-top: 80px;
	padding-top:80px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 440px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#testimonial h1 {
	color: white;
	font-size: 38px;
}

#testimonial h2 {
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.label {
	padding-bottom: 15px;
}

/* ==========================================================================
   Image Mask
   ========================================================================== */

.grid figcaption {
	top: 0;
}
